:root{
  --colorJS: #F7DF1E;
  --colorJS-tr:#F7DF1ECC;
  --dark-tr: rgba(2, 2, 0, 0.8);
  --dark:#222;}

.card{	
   margin: auto;
   padding: 10px;
   width: 310px;
   height: 200px;
   background-color: var(--dark);}
.card figcaption{
   padding: 0.5rem; 
   color: white; 
   text-align: center}
.card img{
   width: 310px;
   height: 160px;}
.card:hover{ 
   background-color: var(--colorJS);}

a{
 text-align: center;
 padding: 5px;
 font-family: Helvetica, sans-serif;
 font-weight: bold;
 font-size: 24px;}

article{
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;}

header{
  background-color: var(--colorJS);
  text-align: center;
  padding: 5px;
  font-family: Helvetica, sans-serif;}

#botonFijo {
  position: fixed;
  top: 450px;
  left: 1150px;}

.visible, aside{
  text-align: center;
  font-family: Helvetica, sans-serif;
  visibility: visible;
  position: fixed;
  top: 10px; 
  left:0; 
  width: 100%; 
  height: auto; 
  background-color: var(--dark-tr);}

aside a{ 
  text-decoration-line: none;
  padding: 20px;
  display: block;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 28px;}

aside a:hover{ 
   background-color: var(--colorJS-tr);}

.invisible, aside{ 
  visibility: hidden; }

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: var(--colorJS-tr);
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }



/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(270deg);
    transition-delay: 0.075s; }

